<%- include('./partials/header') %>
  <title>Find a Route</title>
</head>
<body>
  <div class="container">
    <h1>Plan Your Trip</h1>
    <form action="/find" method="post">
      <input type="text" name="start" id="start" placeholder="start">
      <input type="text" name="destination" id="destination" placeholder="destination">
      <input type="submit" value="submit">
    </form> 
  </div>
  
</body>
</html>