<%- include('./partials/header') %>
  <title>Viral Watch</title>
</head>
<body>
  <%- include('./partials/navbar') %>
  <div class="jumbotron">
    <div>
      <h1 class="display-4">Welcome to Viral Watch!</h1>
      <p class="lead">A interactive tool to monitor, predict, and plan for the outbreak of the Coronavirus.</p>
      <p class="lead">
        <a class="btn btn-secondary btn-lg" href="/viz" role="button">See Visualizations</a>
        <a class="btn btn-primary btn-lg" href="/find" role="button">Plan a Route</a>
        <a class="btn btn-success btn-lg" href="https://devpost.com/software/viral-protector" role="button">Learn more</a>
      </p>
    </div>
  </div>
</body>
</html>