<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tableau Test</title>
  <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
  <script src="assets/js/tableau-2.min.js"></script>
</head>
<body>
  <h1>Tableau Test</h1>
  <div id="vizContainer"></div>

  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyC3ABfQlr8Nj-T8xLSLcWePhYzA982e87k
    &origin=Sacramento&destination=London&mode=flying" allowfullscreen>
</iframe>

  <script src="assets/js/index.js"></script>
  <script>
    initViz();
  </script>
</body>
</html>