<%- include('./partials/header') %>
  <title>Show Route</title>
      <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
  <%- include('./partials/navbar') %>
  <h1>Route Analysis</h1>
  <div id="map"></div>
      <script>
      function initMap() {
        var dest = <%- JSON.stringify(dest) %>;
        console.log('dest', JSON.stringify(dest));

        var path = dest.map((obj) => obj.position);
        console.log('path', JSON.stringify(path));

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: path[0],
          mapTypeId: 'terrain'
        });

        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
          strokeColor: '#000'
        };

        var flightPath = new google.maps.Polyline({
          path: path,
          icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        flightPath.setMap(map);
        animateCircle(flightPath);

        dest.forEach(function (obj, index) {
          const { position, date, formatted_address, confirmed, death, risk_level } = obj;

          let title = (index === 0) ? 'Start' : `Destination ${index}`;

          var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: title,
          });

          var contentString = `
            <div class="infowindow">
              <h3>${formatted_address}</h3> 
              <p>on ${date}</p>
              <p>has a risk level of <strong>${risk_level.toFixed(2)}%</strong></p>
              <p>Confirmed Cases: <strong>${confirmed}</strong></p>
              <p>Death: <strong>${death}</strong></p>
              <p><strong>Numbers are made up! (for now)</strong></p>
            </div>
          `;

          const infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          console.log(marker);

          marker.addListener('click', () => {
            console.log('click');
            infowindow.open(map, marker);
          });

          console.log(marker.onclick);
        });

        // Use the DOM setInterval() function to change the offset of the symbol
        // at fixed intervals.
        function animateCircle(line) {
          var count = 0;
          window.setInterval(function() {
            count = (count + 1) % 400;

            var icons = line.get('icons');
            icons[0].offset = (count / 4) + '%';
            line.set('icons', icons);
        }, 20);


      }
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3ABfQlr8Nj-T8xLSLcWePhYzA982e87k&callback=initMap">
    </script>
</body>
</html>